.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}
body{
    margin-top: 4%;
    margin-left: 3%;
    background-color: #FFFFFF;
    color: #222222;
    font-family: 'Cutive Mono', monospace;
    font-size: 15px;
    line-height: 21px;
}
.done{
    border: 0px;
    text-decoration: none;
    background: #ffcc22;
    color: #000000;
    line-height: 19px;
    font-size: 9pt;
}
.done:hover{
    background: #FFFFB1;
    font-size: 9pt;
}
a:visited{
    border: 0px;
    text-decoration: none;
    color: #000000;
    background: #efefef;
    line-height: 19px;
    font-size: 9pt;
}
.name{
    background: #FFFFFF;
    text-decoration: none;
    font-size: 60px;
    color: #000000;
    font-family: 'Poiret One', cursive;
    line-height: 19px;
}
.soon{
    background: #222222;
    color: #222222;
    line-height: 19px;
    font-size: 9pt;
}
.soon:hover{
    color: #222222;
    background: #ffffff;
    line-height: 19px;
    font-size: 9pt;
}
.footer{
    line-height: 9px;
}
span.about_title{
    color: #000000;
    line-height: 24px;
    font-size: 21pt;
}
span.title{
    color: #222222;
    line-height: 45px;
}
span.assignments{
    background: rgba(0, 255, 76, 0.3);
}
span.warn{
    background: rgba(255, 0, 0, 0.3);
}
img.azolalogo{
    position: absolute;
    padding-top: 105px;
    margin-left: 650px;
    opacity: 0.2;
    width: 20%;
    height: auto;
}
img.jekylogo{
    position: absolute;
    padding-top: 6%;
    margin-left: 60%;
    opacity: 0.2;
    width: 20%;
    height: auto;
}
img.jekylogo:hover{
    opacity: 1;
}
img.term{
    width: 70%;
    height: auto;
}
img.w{
    width: 50%;
    height: auto;
}
video{
    width: 720p;
}
#dvWrapper {
	width: 980px;
	padding:0 10px;
	margin: 0 auto;
    display: block;
}

.done12 {
    border: 0px;
    text-decoration: none;
    background: #22ff4d;
    color: #000000;
    line-height: 19px;
    font-size: 9pt;
}
.done12:hover{
    background: rgba(0, 255, 76, 0.3);
    font-size: 9pt;