<ul class="topbar">
	<a href="/me"><li><u>A</u>bout</li></a>
	<a href="https://instagram.com/rege_yancha_rohan" title="If you like to see the world through my eyes"><li><i class="fa fa-instagram" aria-hidden="true"></i> <u>I</u>nstagram</li></a>
	<a href="https://twitter.com/regerohan07" title="Mostly barren"><li><i class="fa fa-twitter-square" aria-hidden="true"></i> <u>T</u>witter</li></a>
	<a href="https://www.facebook.com/regerohan07" title="Lets be friends :)"><li><i class="fa fa-facebook-official" aria-hidden="true"></i> <u>F</u>acebook</li></a>
	<a href="" title=""></a>
</ul>